<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="GEN3_URDF_V12">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import GEN3_URDF_V12 urdf file -->
    <xacro:include filename="$(find kortex_description)/arms/gen3/urdf/GEN3_URDF_V12.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="GEN3_URDF_V12.ros2_control.xacro" />


    <xacro:GEN3_URDF_V12_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
